*{
  box-sizing: border-box;
}



header{
  grid-area: header;
}

nav{
  grid-area: nav;
  display: flex;
  margin: left;
}
main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

/* Rutenett */
#grid-container
  {
  display:grid;
  grid-template-areas: "header header header" 
                        "nav nav nav"
                        "main main main"
                        "aside footer footer";

  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 0;
  row-gap: 1rem;
  justify-items: start end center stretch;
  align-content: space-evenly;

}

    body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    }

    img {
        width: 100%;
        height: auto;
        margin-left:-1 rem;
      }
    /* CSS Flexbox for å få bildene ved siden om side hverandre */
    * {
        box-sizing: border-box;
      }
      
      .row {
        display: flex;
      }
      .column {
        flex: 50%;
        padding: 0px;
      }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
      }
      
      li {
        float: left;
      }

      /* teksten på forsiden. */
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
      }
      
      /* Oval box */
      #ip1 {
        border-radius: 18px;
        background: #A8FCCA;
        padding: 25px; 
        width: 650px;
        height: 15px;    
        margin: 10px;
    }

    /* HVIS SKJERMEN ER MELLOM 1200PX BRED bilde */
@media screen and (min-width: 900px) {
  body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  }
   
 }


 /* HVIS SKJERMEN ER MINDRE ENN 1300PX BRED */
 @media screen and (max-width: 850px) {
    .hidden-mobile {
        display: none;
      }
    body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    }
img {
    width: auto;
    height: 100%;
    margin-left:-10px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
  }
  
  /* Oval box */
  #ip1 {
    /* border-radius: 18px; */
    background: #A8FCCA;
    padding: 10px; 
    width: 200px;
    height: 5px;    
    
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  .column {
    flex: 100%;
    padding: 0px;
  }

 }



 footer{
  grid-area: footer;
 }