*{
  box-sizing: border-box;
}
/* Styling av logoen */
#logo{
  color: black;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
/* Dette gjelder for ul-elementet inne i navigasjonen i headeren */
header nav ul {
  display: flex;
  gap: .5rem;
  list-style: none;
}

.fa-bars::before {
  content: "\f0c9";
}

.row h2 {
position: absolute;
top: 72%;
left: 50%;
transform: translate(-50%, -50%);
border: 3px solid #A8FCCA;;
background: #A8FCCA;;
border-radius: 50px;
padding: 12px 30px 12px 30px;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

#ip1 {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

nav{
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

#serch {
  text-align: center;
}

#icon ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  
}



main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

footer p {
  text-align: center;
}

nav ul{
  justify-content: center;
  display: flex;
}


main ul {
  position: absolute;
  bottom: -10rem;
  left: 0%;
  background: none;
}

/* Rutenett */
#grid-container
  {
  display:grid;
  grid-template-areas: "header header header" 
                        "nav nav nav"
                        "main main main"
                        "footer footer footer";

  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 0;
  row-gap: 1rem;
  justify-items: start end center stretch;
  align-content: space-evenly;

}


img{
  width: 60%;
  height: auto;
  margin-left:-1 rem;
}

/* HVIS SKJERMEN ER MELLOM 1200PX OG 1300PX BRED */
@media screen and (min-width: 900px) {
    body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    }

    img {
        width: 100%;
        height: auto;
        margin-left:-1 rem;
      }
    /* CSS Flexbox for å få bildene ved siden om side hverandre på desktop */
    * {
        box-sizing: border-box;
      }
      
      .row {
        display: flex;
      }
      .column {
        flex: 50%;
        padding: 0px;
      }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
      }
      
      li {
        float: left;
      }

      /* teksten på forsiden. */
      
      li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
      }
      
      /* Oval box */
      #ip1 {
        border-radius: 18px;
        background: #A8FCCA;
        padding: 20px; 
        width: 400px;
        height: 15px;    
        margin: 20px;
    }
   
 }

 /* HVIS SKJERMEN ER liten */
 @media screen and (max-width: 850px) {
    .hidden-mobile {
        display: none;
      }
    body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    }
img {
    width: auto;
    height: 100%;
    margin-left:-10px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Oval box */
  #ip1 {
    /* border-radius: 18px; */
    background: #A8FCCA;
    padding: 10px; 
    width: 200px;
    height: 5px;    
    
}
  
  .row {
    display: flex;
  }
  .column {
    flex: 100%;
    padding: 0px;
  }

 }